$overlay: #121215;
$white: #fff;

//Global reset including pseudo elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: $white;
  padding: 2rem 0;

  &:after {
    position: absolute;
    content: "";
    background: $overlay;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.top-nav {
  margin: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    margin-left: auto;
  }
}
