//Colors
$overlay: #121215;
$white: #fff;
$blue: #2c99ed;
//Breakpoints
$bp-small: 600px;
$bp-medium: 768px;

//Global reset including pseudo elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: url(/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  color: $white;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    "header header header header header header header header"
    ". main main main main main main ."
    "footer footer footer footer footer footer footer footer";

  &:after {
    position: absolute;
    content: "";
    background: $overlay;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

nav,
footer {
  padding: 2rem;
  display: grid;

  @media screen and (max-width: $bp-medium) {
    padding: 1.5rem;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      width: 25%;
      text-align: center;
      padding: 0.5rem 0;

      &:hover {
        background: $blue;
      }
    }

    @media screen and (max-width: $bp-medium) {
      display: none;
      position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1;
      font-size: 1.6rem;
      background: gray;
      text-align: center;

      li {
        width: 100%;

        &:hover {
          background: $blue;
        }
      }
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

nav {
  grid-area: header;
  grid-template-areas: "logo item item toggle-top";
}

.top-nav {
  align-items: center;

  &__logo {
    grid-area: logo;
    font-weight: bold;
    font-size: 1.7rem;
  }

  &__items {
    grid-area: item;

    @media screen and (max-width: $bp-medium) {
      top: 12%;
    }
  }
}

.nav-toggle {
  margin-left: auto;
  font-size: 1.8rem;
  width: 2.5rem;
  text-align: center;
  margin-right: 0.5rem;
  &:hover {
    cursor: pointer;
    background: $blue;
  }
  &--first {
    @media screen and (min-width: $bp-medium) {
      pointer-events: none;
    }
  }
}

.top {
  grid-area: toggle-top;
}

.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: absolute;
}

main {
  grid-area: main;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-template-areas:
    "description form"
    "description form";

  @media screen and (max-width: $bp-medium) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "description"
      "form";
    grid-gap: 0;
  }
}

.description {
  grid-area: description;

  @media screen and (max-width: $bp-medium) {
    text-align: center;
  }

  &__heading {
    font-size: 3rem;
    padding-top: 1rem;

    @media screen and (max-width: 870px) {
      font-size: 2.7rem;
      line-height: 1.2;
      padding: 0.5rem;
    }

    @media screen and (max-width: 622px) {
      font-size: 2rem;
      padding: 0.5rem;
    }

    @media screen and (max-width: 465px) {
      font-size: 1.5rem;
    }
  }

  &__subtext {
    margin-top: 1rem;
    font-weight: normal;

    @media screen and (max-width: $bp-medium) {
      margin-top: 0;
      font-size: 0.9rem;
    }
  }
}

.signup {
  grid-area: form;

  @media screen and (max-width: $bp-medium) {
    justify-self: center;
    align-self: flex-start;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }
}

form {
  input,
  button {
    color: $white;
    height: 2.5rem;
    width: 100%;
    border: 1px solid #848485;
  }
  input {
    background: transparent;

    &::placeholder {
      color: $white;
    }

    @media screen and (min-width: 769px) and (max-width: 870px) {
      height: 3.2rem;
    }
  }

  button {
    background: $blue;

    &:hover {
      background-color: #6bafe3;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .label {
    padding: 0.5rem;
  }

  @media screen and (max-width: $bp-medium) {
    width: 60vw;
  }
}

.eye {
  margin-left: -25px;
}

.tos {
  align-self: center;
  text-align: center;
  color: #7c7c7d;
  margin-top: 1rem;

  &__terms {
    text-align: center;
    color: #fff;
    margin-top: 0.5rem;
  }
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "rights nav nav";
  width: 100vw;
  font-size: 0.8rem;
  align-items: center;

  @media screen and (max-width: $bp-medium) {
    grid-template-areas: "rights toggle-bottom";
  }

  @media screen and (max-width: 499px) {
    align-items: end;
  }
}

.rights {
  grid-area: rights;
  padding: 0.5rem;
}

.bottom-nav {
  &__items {
    grid-area: nav;
    text-transform: uppercase;
    justify-content: space-between;

    @media screen and (max-width: $bp-medium) {
      bottom: 12%;
      text-transform: capitalize;
    }
  }
}

.bottom {
  grid-area: toggle-bottom;
  display: none;

  @media screen and (max-width: $bp-medium) {
    display: block;
    padding-top: 4px;
  }
}
