*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100vh; }

body {
  background: url(/assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  body:after {
    position: absolute;
    content: "";
    background: #121215;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

nav,
footer {
  margin: 2.5rem;
  display: grid; }
  nav ul,
  footer ul {
    list-style: none;
    display: flex; }
  nav a,
  footer a {
    color: #fff;
    text-decoration: none; }

nav {
  grid-template-areas: "logo item item toggle"; }

.top-nav {
  height: 2rem;
  align-items: flex-end;
  line-height: 2.5rem; }
  .top-nav__logo {
    grid-area: logo;
    font-weight: bold;
    font-size: 1.7rem; }
  .top-nav__items {
    grid-area: item; }
    .top-nav__items li {
      width: 25%;
      text-align: center; }
      .top-nav__items li:hover {
        background: #2c99ed; }
    @media screen and (max-width: 600px) {
      .top-nav__items {
        display: none;
        position: absolute;
        top: 13%;
        left: 0px;
        right: 0px;
        z-index: 1;
        font-size: 1.6rem;
        background: gray;
        text-align: center; }
        .top-nav__items li {
          width: 100%; }
          .top-nav__items li:hover {
            background: #2c99ed; } }
  .top-nav__toggle {
    grid-area: toggle;
    margin-left: auto;
    font-size: 1.8rem;
    width: 2.5rem;
    text-align: center; }
    .top-nav__toggle:hover {
      cursor: pointer;
      background: #2c99ed; }

.active {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  margin: auto; }

main {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-template-areas: "description form" "description form"; }
  @media screen and (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "description" "form"; } }

.description {
  grid-area: description; }
  @media screen and (max-width: 768px) {
    .description {
      text-align: center; } }
  .description__heading {
    font-size: 3rem;
    padding-top: 1rem; }
  .description__subtext {
    margin-top: 1rem;
    font-weight: normal; }

.signup {
  grid-area: form; }
  @media screen and (max-width: 768px) {
    .signup {
      justify-self: center; } }
  .signup__header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px; }

form input,
form button {
  color: #fff;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #848485; }

form input {
  background: transparent; }

form button {
  background: #2c99ed; }

form .label {
  padding: 0.5rem; }

@media screen and (max-width: 768px) {
  form {
    width: 60vw; } }

.tos {
  align-self: center;
  text-align: center;
  color: #7c7c7d;
  margin-top: 1rem; }
  .tos__terms {
    text-align: center;
    color: #fff;
    margin-top: 0.5rem; }

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 0.7rem; }

.rights {
  grid-column: 1 / span 2; }

.bottom-nav {
  grid-column: 4 / span 2;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between; }
